<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//ES" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="es" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-language" content="es" />
    <title>Mi Comunidad - Usuario Registrado</title>
    <!-- // Scripts -->
    <script src="../../Scripts/bootstrap.min.js"></script>
    <script src="../../Scripts/jquery-1.11.1.min.js"></script>
    <script src="../../Scripts/modernizr-2.6.2.js"></script>
    <script src="../../Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="../../Scripts/scripts.js"></script>


    <!-- // Plugin styles -->
    <link href="../../Content/bootstrap.min.css" rel="stylesheet" />
    <link href="../../Content/bootstrap-theme.min.css" rel="stylesheet" />

    <!-- // Custom Styles -->
    <link href="../../Content/Site.css" rel="stylesheet" />

    <!-- Estilos y scripts de MiComunidad -->
    <link href="../../Content/Site.css" rel="stylesheet" />
    <link href="../../Content/form-elements.css" rel="stylesheet" />


</head>
<body>
    <header id="main_menu">
        <div class="container small">
            {3}
            <img src='cid:imagen' />
        </div>
        <div style="height: 10px; background-color: #15c;"></div>
        <div style="height: 4px; background-color: black;"></div>
    </header>

    <div id="div_stepContent">
        <br />
        <section id="wrapper" class="container">
            <div class="cajaFondo">
                <span class="flecha">
                    <span class="titulo"></span>
            </div>
            <div class="contenidoLinea">
                <label>Estimado Cliente,</label>
                    <br /><br />
                <div class="contenido">
                    <p>Ya se encuentra disponible para ingresar al sitio MiComunidad,
                    Su Credencial es:</p>
					<br />
					Nombre de Usuario: <label>{0}</label><br>
					Clave Secreta: <label>{1}</label><br>
					URL para Acceder a su cuenta: <label>{2}</label>
                    <br /><br />
                    <label></label>
                </div>
            </div>
        </section>
    </div>

    <footer id="footer">
        <section class="container">
            <div class="row-fluid">
                <div id="right" class="span6">
                    <br /><br />
                        <label>Se despide,</label>
                        <br>Equipo de adminnistracion MiComunidad<br />
                </div>
            </div>
        </section>
    </footer>
</body>
</html>
